
html body {
  overflow:hidden;
}

.page{
  height: 100vh;
}

.hide-page{
  display: none;
}

/* landing page */
#request-scaper{
  margin-top: 13vh;
}

#find-work{
  margin-top: 7vh;
}

/* task list style */
.checklist{
  padding: 0 !important;
  ul{
    max-height: 285px;
  }
}
.selected{
  background-color: #ccff90 !important;
  color:#000;
}

/* check fix */
[type="checkbox"]:checked+label:before{
  top:-2px;
  border-right: 5px solid #1b5e20;
  border-bottom: 5px solid #1b5e20;
}

.selected label{
  color:#000 !important;
}

.input-list{
  margin:0;
  overflow: scroll;
  li{
    background-color: #f0fff5;
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 1px solid #cfd8dc;

    label{
      font-size:1.1em;
      width:100%;
    }

    .task-icon{
      float: right;
    }
  }
}

[type="checkbox"]+label:before{
  margin-top:3.5px;
  border-color: #a5a5a5;
}


/* Level page style */
.estimate{
  margin-top: 0 !important;
  margin-bottom: 2vh !important;
  float:none !important;
  padding: 1em !important;
}

.status-text{
  padding-bottom: .8em;
}

/* hide radio buttons */
[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after{
  display: none !important;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after{
  display: none !important;
}

.button-area input:checked + label{
  @extend .selected;
}

.button-area{
  padding:0!important;
  .threeCol{
    width:32.333% !important;
    padding-left: 0;
    text-align: center;
  }
  input{
    position:absolute;
    top:-200px !important;
  }
  label{
    background-color: #f0fff5;
    height: 8em !important;
    padding: 1em !important;
  }
}

/* Supplies page */



/* Typography */
body{
  font-family: 'Lato',sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h2{
  font-weight:400 !important;
  font-size: 3rem !important;
}
h3{
  font-size: 1.8rem !important;
}

h4{
  font-size: 1.6em !important;
  font-weight: 300 !important;
}

h5 {
  font-weight: 300 !important;
  font-size:1.25em !important;
}
h6{
  font-weight: 400;
  font-size: 1.25em;
}

p {
  font-weight: 300;
}

.instructions{
  padding-top: 2vh;
  padding-bottom: 1vh;
}

.btn-small {
  height: 25px;
  line-height: 24px;
  font-size: 1rem;
}

.btn-small i {
  font-size: 1rem;
}

/* margins */
.margin-bottom-1{
  margin-bottom: 1em;
}

.margin-bottom-2{
  margin-bottom: 2em;
}

.margin-left-1p{
  margin-left: 1.5% !important;
}


/* Sky  headers*/
.sky {
  margin-bottom: 1px;
  padding-bottom: 0;
  background: #000;
  //background: #1d70f4; /* Old browsers */
  //background: -moz-linear-gradient(-31deg,  #1d70f4 0%, #00a4fd 80%); /* FF3.6-15 */
  //background: -webkit-linear-gradient(-31deg,  #1d70f4 0%,#00a4fd 80%); /* Chrome10-25,Safari5.1-6 */
  //background: linear-gradient(149deg,  #1d70f4 0%,#00a4fd 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d70f4', endColorstr='#00a4fd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.mini-sky{
  height: 25%;
  background: #000;
  margin-bottom: 1px !important;
  padding-bottom: 0px;
  border-bottom: 1px solid #666;
  position:relative;
}

.grey-area{
  height:75%;
  background:#f1f1f1;
  padding-top: 3vh;
}

.bottom{
  position:absolute;
  bottom:10px;
}

.grass{
  background-image: url(../images/grasstile.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 75%;
}


.skytext {
  font-family: 'OpenSans',sans-serif;
  color:#fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: 600;
  position: relative;
}

.skytext-app-title {
  @extend .skytext;
  letter-spacing: 6px;
  font-size: 3em;
}

.skytext-app {
  @extend .skytext;
  font-size: 2em;
  line-height: 1.2em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  margin: auto;
  height: 44%;
}

.bubbles{
  margin-top: 12em;
}

/* Sections */
.segment{
  padding: 7em 0 10em;
  margin-bottom: 1px !important;
  height: 25em;
  background-color: #f5f5f7;
  border-top: 1px solid #c9cbce;
}

.waves-effect.waves-chartreuse .waves-ripple{
  /* The alpha value allows the text and background color
  of the button to still show through. */
  background-color: rgba(127,255,0,.625);
}

/* responsiveness */

/*small*/
@media (max-width: 600px) {
  body {font-size: 16px;}

}

/* medium */
@media (min-width: 601px) and (max-width: 992px) {
  body {font-size: 18px}

}
/* large */
@media (min-width: 993px) {
  body {font-size: 20px}

}
