/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* compass watch /sass/screen.scss : /public/css/screen.css --css-dir=app/css from dev*/
/* compass compile sass/screen.scss --css-dir=/public/css */
/* line 10, ../../sass/screen.scss */
html body {
  overflow: hidden;
}

/* line 14, ../../sass/screen.scss */
a {
  color: #9e9e9e;
}

/* line 18, ../../sass/screen.scss */
.page {
  height: 100vh;
}

/* line 22, ../../sass/screen.scss */
.hide-page {
  display: none;
}

/* extra spacing */
/* line 27, ../../sass/screen.scss */
.martop-1 {
  margin-top: 1em;
}

/* line 30, ../../sass/screen.scss */
.martop-2 {
  margin-top: 2em;
}

/* landing page */
/* line 35, ../../sass/screen.scss */
#request-scaper {
  margin-top: 13vh;
}

/* line 39, ../../sass/screen.scss */
#find-work {
  margin-top: 7vh;
}

/* task list style */
/* line 44, ../../sass/screen.scss */
.checklist {
  padding: 0 !important;
  margin-bottom: 100px;
}
/* line 47, ../../sass/screen.scss */
.checklist ul {
  /*max-height: 45vh;*/
}

/* line 51, ../../sass/screen.scss */
.selected, .button-area input:checked + label {
  background-color: #ccff90 !important;
  color: #000;
}

/* check fix */
/* line 57, ../../sass/screen.scss */
[type="checkbox"]:checked + label:before {
  top: -2px;
  border-right: 5px solid #1b5e20;
  border-bottom: 5px solid #1b5e20;
}

/* line 63, ../../sass/screen.scss */
.selected label, .button-area input:checked + label label {
  color: #000 !important;
}

/* line 67, ../../sass/screen.scss */
#signup-page-homeowner {
  max-height: 70vh;
}

/* line 71, ../../sass/screen.scss */
.input-list {
  margin: 0;
  overflow: scroll;
}
/* line 74, ../../sass/screen.scss */
.input-list li {
  background-color: #f0fff5;
  cursor: pointer;
  padding: 10px 20px;
  border-bottom: 1px solid #cfd8dc;
}
/* line 80, ../../sass/screen.scss */
.input-list li label {
  font-size: 1.1em;
  width: 100%;
}
/* line 85, ../../sass/screen.scss */
.input-list li .task-icon {
  float: right;
}

/* line 91, ../../sass/screen.scss */
[type="checkbox"] + label:before {
  margin-top: 3.5px;
  border-color: #a5a5a5;
}

/* Level page style */
/* line 98, ../../sass/screen.scss */
.estimate {
  margin-top: 0 !important;
  margin-bottom: 2vh !important;
  float: none !important;
  padding: 1em !important;
}

/* line 105, ../../sass/screen.scss */
.status-text {
  padding-bottom: .8em;
}

/* hide radio buttons */
/* line 110, ../../sass/screen.scss */
[type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after {
  display: none !important;
}

/* line 114, ../../sass/screen.scss */
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
  display: none !important;
}

/* line 122, ../../sass/screen.scss */
.tool-buttons {
  color: #9e9e9e;
  background-color: #f0fff5;
}

/* line 128, ../../sass/screen.scss */
.button-area {
  padding: 0 !important;
  margin-bottom: 100px;
  /* changes height in 2 pages*/
}
/* line 131, ../../sass/screen.scss */
.button-area .twoCol {
  max-width: 110px;
  margin-left: 9.2% !important;
  padding: .5rem;
  text-align: center;
  color: #9e9e9e;
}
/* line 140, ../../sass/screen.scss */
.button-area .threeCol {
  width: 32.333% !important;
  padding: .1rem .5rem;
  text-align: center;
  color: #9e9e9e;
}
/* line 147, ../../sass/screen.scss */
.button-area input {
  position: absolute;
  top: -200px !important;
}
/* line 151, ../../sass/screen.scss */
.button-area label {
  background-color: #f0fff5;
  height: 8em !important;
  padding: 1em !important;
}
/* line 156, ../../sass/screen.scss */
.button-area a {
  background-color: #f0fff5;
}

/* Supplies page */
/* Typography */
/* line 166, ../../sass/screen.scss */
body {
  font-family: 'Lato',sans-serif;
}

/* line 170, ../../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* line 175, ../../sass/screen.scss */
h2 {
  font-weight: 400 !important;
  font-size: 3rem !important;
}

/* line 179, ../../sass/screen.scss */
h3 {
  font-size: 1.8rem !important;
}

/* line 183, ../../sass/screen.scss */
h4 {
  font-size: 1.6em !important;
  font-weight: 300 !important;
}

/* line 188, ../../sass/screen.scss */
h5 {
  font-weight: 300 !important;
  font-size: 1.25em !important;
}

/* line 192, ../../sass/screen.scss */
h6 {
  font-weight: 400;
  font-size: 1.25em;
}

/* line 197, ../../sass/screen.scss */
p {
  font-weight: 300;
}

/* line 201, ../../sass/screen.scss */
.instructions {
  padding-top: 2vh;
  padding-bottom: 1vh;
}

/* line 206, ../../sass/screen.scss */
.btn-small {
  height: 25px;
  line-height: 24px;
  font-size: 1rem;
}

/* line 212, ../../sass/screen.scss */
.btn-small i {
  font-size: 1rem;
}

/* margins */
/* line 217, ../../sass/screen.scss */
.margin-bottom-1 {
  margin-bottom: 1em;
}

/* line 221, ../../sass/screen.scss */
.margin-bottom-2 {
  margin-bottom: 2em;
}

/* line 225, ../../sass/screen.scss */
.margin-left-1p {
  margin-left: 1.5% !important;
}

/* line 229, ../../sass/screen.scss */
.margin-left-5p {
  margin-left: 5% !important;
}

/* Sky  headers*/
/* line 234, ../../sass/screen.scss */
.sky {
  margin-bottom: 1px;
  padding-bottom: 0;
  background: #1d70f4;
  /* Old browsers */
  background: -moz-linear-gradient(-31deg, #1d70f4 0%, #00a4fd 80%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-31deg, #1d70f4 0%, #00a4fd 80%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(149deg, #1d70f4 0%, #00a4fd 80%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d70f4', endColorstr='#00a4fd',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

/* line 245, ../../sass/screen.scss */
.mini-sky {
  height: 25%;
  min-height: 130px;
  background: #1d70f4;
  /* Old browsers */
  background: -moz-linear-gradient(-31deg, #1d70f4 0%, #00a4fd 80%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-31deg, #1d70f4 0%, #00a4fd 80%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(149deg, #1d70f4 0%, #00a4fd 80%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d70f4', endColorstr='#00a4fd',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  margin-bottom: 1px !important;
  padding-bottom: 0px;
  border-bottom: 1px solid #666;
  position: relative;
}

/* line 259, ../../sass/screen.scss */
.grey-area {
  height: 75%;
  background: #f1f1f1;
  padding-top: 3vh;
  overflow: scroll;
}

/* line 267, ../../sass/screen.scss */
.bottom {
  z-index: 10;
  background-color: #f1f1f1;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #ccc;
  padding-top: 8px !important;
  height: 55px;
}

/* line 277, ../../sass/screen.scss */
.grass {
  background-image: url(../images/grasstile.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 75%;
}

/* line 285, ../../sass/screen.scss */
.skytext, .skytext-app-title, .skytext-app {
  font-family: 'OpenSans',sans-serif;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: 600;
  position: relative;
}

/* line 293, ../../sass/screen.scss */
.skytext-app-title {
  letter-spacing: 6px;
  font-size: 3em;
}

/* line 299, ../../sass/screen.scss */
.skytext-app {
  font-size: 1.8em;
  line-height: 1.2em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  margin: auto;
  height: 44%;
}

/* line 313, ../../sass/screen.scss */
.bubbles {
  margin-top: 12em;
}

/* Sections */
/* line 318, ../../sass/screen.scss */
.segment {
  padding: 7em 0 10em;
  margin-bottom: 1px !important;
  height: 25em;
  background-color: #f5f5f7;
  border-top: 1px solid #c9cbce;
}

/* line 326, ../../sass/screen.scss */
.waves-effect.waves-chartreuse .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
  background-color: rgba(127, 255, 0, 0.625);
}

/* responsiveness */
/*small*/
@media (max-width: 600px) {
  /* line 336, ../../sass/screen.scss */
  body {
    font-size: 16px;
  }
}
/* medium */
@media (min-width: 601px) and (max-width: 992px) {
  /* line 342, ../../sass/screen.scss */
  body {
    font-size: 18px;
  }
}
/* large */
@media (min-width: 993px) {
  /* line 347, ../../sass/screen.scss */
  body {
    font-size: 20px;
  }
}
/* line 351, ../../sass/screen.scss */
label {
  color: #787;
}

/* line 354, ../../sass/screen.scss */
.modal.bottom-sheet {
  max-height: none !important;
}
